<!DOCTYPE html>
<html lag="ja" xmlns:th="http//www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ユーザー登録 | 学習進捗トラッカー</title>
</head>
<body>
    <h1>ユーザー登録</h1>

    <!-- エラ〜メッセージ -->
     <p th:if="${errorMessage}" th:text="${errorMessage}" style="color: red;"></p>

     <!-- 登録フォーム -->
      <form th:action="@{register}" method="post">

        <!-- CAEFトークン -->
         <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

         <div>
            <label for="username">ユーザー名</label>
            <input id="username" type="text" name="username" required />
         </div>

         <div>
            <label for="password">パスワード</label>
            <input id="password" type="password" name="password" required />
         </div>

         <button type="submit">登録</button>
    </form>

    <p><a th:href="@{/login}">ログインはこちら</a></p>
</body>
</html>
